[Desktop Entry]
Version=1.0
Type=Application
Name=Sanchay
GenericName=Inventory & Asset Manager
Comment=Inventory & Asset Management System
Exec=sanchay
Icon=sanchay
Terminal=false
Categories=Office;Finance;
Keywords=inventory;assets;management;tracking;
StartupWMClass=sanchay
